:root {
  --background-color: #ECEEEC;
  --accent-color: #7DF6B4;
  --accent-color-dark: #77d5a1;
  --light-color: #FFF;
  --dark-color: #000;
  --text-secondary-color: #3F3F3F;
  --border-color: #4D4D4D;
}

html, body {
  margin: 0;
  font-family: 'Anek Latin';
}

.card {
  padding: 20px;
  background-color: var(--light-color);
}

#app {
  
}

#nav {
  
}

#main {
  
}

.side {
  
}

.section {
  
}

#footer {
  
}


